.cart-wrapper {
   width: 75%;
   margin: 20px auto;
}
.cart-title {
   padding-bottom: 10px;
   border-bottom: 1px solid #333;
}
.cart-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   box-shadow: 1px 1px #c0c0c0;
   margin: 6px 0;

   img {
      width: 80px;
      margin-right: 10px;
   }
   button {
      border: 0;
      background: #2a5ea5;
      color: #fff;
      padding: 7px;
      border-radius: 5px;
   }
   .cart-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
   }
}
